<li data-id="<%= id %>" data-name="<%= name %>">
    <img src="data:image/gif;base64,R0lGODdhAQABAIAAAOTm5AAAACwAAAAAAQABAAACAkQBADs=" width="<%= preview.width %>" height="<%= preview.height %>" alt="" style="opacity: .1;">
    <span><%= name %></span>
</li>
