<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fluid CMS</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
    <link rel="stylesheet" href="stylesheets/fluid-0.0.1.css">
    <link rel="icon" href="images/favicon.png">
    <script>
        var fluidSession = "{{ session }}";
        var fluidBranch = "{{ branch }}";
        var fluidUrl = "{{ site_url }}";
        var fluidWebSocketUrl = "{{ websocket_url }}fluidcms/websocket";
        var fluidUserId = "{{ user_id }}";
        var fluidUserName = "Gabriel Bull";
        var fluidUserEmail = "gavroche.bull@gmail.com";
        var fluidLanguage = {{ language|json_encode|raw }};
    </script>
    <script src="javascripts/vendor/autobahnjs-0.8.0.min.js"></script>
    <script data-main="javascripts/fluid-0.0.1.min.js" src="javascripts/vendor/requirejs-2.1.9.min.js"></script>
</head>
<body>
{% include 'app.twig' %}
</body>
</html>