<ul class="structure structureSortable">
    <% function PagesList(pages) { %>
    <% $.each(pages.models, function() { %>
    <li data-id="<%= this.get('id') %>" data-page="<%= this.get('page') %>">
        <a>
            <%= this.get('page') %>

            <% if (this.get('url') !== '') { %>
            <span><%= this.get('url') %></span>
            <% } %>
        </a>

        <ul class="pages structureSortable">
            <% if (typeof this.get('pages') !== 'undefined') { %>
            <%= PagesList(this.get('pages')) %>
            <% } %>
        </ul>
    </li>
    <% }) %>
    <% } %>

    <%= PagesList(pages) %>
</ul>

<a data-action="addPage" class="icon-button plus">Page</a>
<div>
    <a data-action="cancelChanges" class="link-button cancel" disabled>Cancel</a>
    <a data-action="saveChanges" class="button blue" disabled>Save</a>
</div>