<div>
    <nav>
        <ul>
            <% $.each(layoutDefinition, function(key, item) { %>
            <li><a><%= key %></a></li>
            <% }); %>
        </ul>
    </nav>

    <div class="main">
        <% $.each(layoutDefinition, function(key, item) { %>
        <div>
            <% $.each(item, function(name, options) { %>
                <a data-group="<%= key %>" data-item="<%= name %>">
                    <div class="label"><%= name %></div>

                    <% if (options.type == 'string') { %>
                        <div class="data string"><%= data[key][name] %></div>
                    <% } else if (options.type == 'content') { %>
                    <div class="data content"><%= render[key][name] %></div>
                    <% } else { %>
                        <div class="data image"></div>
                    <% } %>
                </a>
            <% }); %>
        </div>
        <% }); %>
    </div>
</div>