<% $.each(definition, function(key, item) { %>
<% if (item.type == 'array') { %>
<div data-item="<%= key %>">
    <div class="label array"><%= key %> <a data-action="addArrayItem">Add</a></div>
    <% if (typeof data[key] !== 'undefined' && data[key] !== null) { $.each(data[key], function(arrayKey, arrayItem) { %>
    <div class="array-item">
        yo
    </div>
    <% }); } %>
</div>
<% } else { %>
<a data-item="<%= key %>">
    <div class="label"><%= key %></div>

    <% if (item.type == 'string') { %>
    <div class="data string"><% if (typeof data[key] !== 'undefined') { %><%= data[key] %><% } %></div>
    <% } else if (item.type == 'content') { %>
    <div class="data content"><% if (typeof data[key] !== 'undefined') { %><%= data[key] %><% } %></div>
    <% } else if (item.type == 'image') { %>
    <div class="data image">
        <%
            var width = parseInt(typeof item.width !== 'undefined' ? item.width : 0);
            var height = parseInt(typeof item.height !== 'undefined' ? item.height : 0);

            if (typeof item.formats !== 'undefined' && width === 0 && height === 0) {
                $.each(item.formats, function(formatkey, format) {
                    if (typeof format.width !== 'undefined' && parseInt(format.width) > width) {
                        width = parseInt(format.width);
                        height = parseInt(typeof format.height !== 'undefined' ? format.height : "");
                        if (width !== 0 || height !== 0) {
                            return false;
                        }
                    }
                });
            }
        %>

        <% if (typeof data[key] !== 'undefined') { %>
        <%= data[key] %>
        <% } else { %>
        <img src="images/imgtmp-<%= width === 0 ? 3000 : width %>px-<%= height === 0 ? 200 : height %>px.gif"
            width="<%= width === 0 ? 3000 : "" %>"
            height="<%= height === 0 ? 200 : "" %>"
            alt="">
        <% } %>
    </div>
    <% } else { %>
    <div class="data"></div>
    <% } %>
</a>
<% } %>
<% }); %>
